<footer class="app-footer">
    <div>
        <a href="#">Sebpo</a>
        <span>&copy; 2018 SoftDev.</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="">mohsin</a>
    </div>
</footer>