<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Menu</li>


            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Users</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="base/breadcrumb.html">
                            <i class="nav-icon icon-puzzle"></i> User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base/cards.html">
                            <i class="nav-icon icon-puzzle"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base/carousel.html">
                            <i class="nav-icon icon-puzzle"></i> Role</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-settings"></i> Settings</a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>