 <!DOCTYPE html>
<html>
<head>
   {{> head }}
</head>
<body>
    {{> header }}
        <h1>This is a Heading r   sad sdf e</h1>
        <p>This is a paragraph.</p> 
    {{> footer }}

    {{> script}}
</body>
</html> 