 <!DOCTYPE html>
<html>
<head>
   {{> head }}
</head>
<body>
    {{> header }}
        <h1>Login Page</h1>
        <p>enter the field for login</p> 
    {{> footer }}

    {{> script}}
</body>
</html> 