<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

{{> header }}

<div class="app-body">
    {{> leftMenu }}

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="../">
                        <i class="icon-graph"></i>  Dashboard</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i>  Settings</a>
                </div>
            </li>
        </ol>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h1>Register</h1>
                            <p class="text-muted">Create a user your account</p>
                            <form action="{{SITE_URL}}/register" method="post">
                               
                                     <div class="row">
                                             <div class="col-md-6">
                                                 <div class="form-group">
                                                     <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="icon-user"></i>
                                                                </span>
                                                            </div>
                                                            <input class="form-control" name="firstName" type="text" placeholder="First Name">
                                                        </div>
                                                 </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                     <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="icon-user"></i>
                                                            </span>
                                                        </div>
                                                        <input class="form-control" name="lastName" type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                          </div>
                                  
                                 </div>
                                 

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" name="username" type="text" placeholder="Username">
                                    </div>
                                </div>   
                                <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">@</span>
                                                </div>
                                                <input class="form-control" name="email" type="text" placeholder="Email">
                                            </div>
                                </div>

                                <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" name="password" type="password" placeholder="Password">
                                         </div>
                                </div>
                                <div class="form-group">
                                     <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" name="confirmPassword" type="password" placeholder="Repeat password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Roles</label>
                                    <div class="col-md-9 col-form-label">
                                        {{#each data.allRoles}}
                                            <div class="form-check checkbox">
                                                <input class="form-check-input" id="{{this._id}}" type="checkbox" value="{{this_id}}">
                                                <label class="form-check-label" for="check1">{{this.rolesName}}</label>
                                            </div>

                                        {{/each}}
                                    </div>
                                </div>
                                <input class="btn btn-block btn-success" type="submit" value="Create Account">
                            </form>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </main>

    {{> aside }}

</div>

{{> footer}}


</body>
</html>